/* css Reset */
*{
    padding: 0;
    margin: 0;
}
#navbar{
    display: flex;
    position: relative;
    font-family: 'Libre Franklin', sans-serif;
    
    /* font-family: 'Yanone Kaffeesatz', sans-serif; */
    
}

#navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
}
#navbar ul li{
    list-style: none;
}
/* padding ul ke li ki jgh a me denge hover ka shi use ho taki ..bki system kya hai malum ni apne ko boss */
#navbar ul li a{
    font-size: 0.8rem;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px 5px ;
    /* border: 2px solid grey; */
    border-radius: 10px;
    color: rgb(8, 55, 66);
}
#navbar ul li a:hover{
    background-color: rgb(8, 55, 66);
    color: white;
    z-index: 2;
}
/* for background of nav */
#navbar::before{
    content: " ";
    background: rgba(33, 131, 136, 0.51);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    

}

#logo img{
    height: 50px;
    width: 50px;
    padding: 5px 10px;
    margin: 5px 10px;
    /* transition-timing-function:10s; */
    transition-duration: 2s;
}
#logo img:hover{
    transform: translateX(10px);
    transform: scale(1.5);
}

/* navigation bar ka kaam yha se khtm bablea */

#home{
    /* font-family: 'Libre Franklin', sans-serif; */
    font-family: 'Bree Serif', serif;
    /* font-family: 'Yanone Kaffeesatz', sans-serif; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 30px auto;
    padding: 20px 60px;
    /* position: relative; */
    color: rgb(8, 55, 66);
    font-size: 1.4rem;
    height: 270px;
}
#home:before{
    content: "";
    background: url(../images/section_home.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 450px;
    /* height: 100%; */
    width: 100%;
    z-index: -1;
    opacity: 0.585;
}




/* another utility of center */
/* inherit this also as h1.primary.center.......which is two class inheritance */

/* section SERVICES */

#services{
    display: flex;
    flex-direction: column;
    font-family: 'Bree Serif', serif;
    margin: 40px auto;
    color:rgb(8, 55, 66) ;
}

#services .container{
    display: flex;
    flex-direction: row;
    /* align-content: space-around; */
    justify-content: space-around;
}

#services .container .box{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    border: 2px solid #26657e;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    background:rgba(218, 241, 242, 0.51) ;
}

#services .container .box img{
    /* display: block; */
    margin: 10px auto;
    height: 150px;
    width: 230px;
    
}

/* clients section styling */
#clients-section{
    display: flex;
    flex-direction: column;
    /* to fit background properly either make position of the container relative or fix the position of background using top
    like done below (in comments) */
    position: relative;

    /* border: 2px solid grey; */
}

#clients-section::before{
    content: " ";
    background: url("../images/section_clients.jpg") no-repeat center center/cover;
    position: absolute;
    /* top: 863px; */
    left: 0px;
    height: 260px;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
    border-radius: 20px;
}
#clients-section #clients{
    display: flex;
    /* flex-direction: column; */
    /* align-items: stretch; */
    justify-content: space-around;
}
#clients-section #clients img {
    height: 160px;
    width: 150px;
    margin: 20px;
    padding: 3px;
}

/* from-section */


#form-section{
    font-family: 'Libre Franklin', sans-serif;
    position: relative;
    padding-bottom: 10px;
}
#form-section .form-group{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 5px auto;
}
#form-section .form-group input,
#form-section .form-group textarea
{
    border-radius: 7px;
    text-align: center;
    padding: 4px;
    background: rgba(218, 241, 242, 0.51);
    border: 2px solid #26657e;
    margin: 5px;
}
input::placeholder{
    font-family: sans-serif;
    color: rgb(5, 5, 71);

}


/* all work is done almost ...now lets add background */
#form-section::before{
    content: " ";
    background: url(../images/section_home.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;

}

/* footer */

footer{
    color: white;
    background: black;
}




/* UTILITY CLASSES */
.h1-primary{
    /* display: flex; */
    padding: 5px 15px;
    font-family: 'Bree Serif', serif;
    /* text-align: center; */
}

.btn{
    width: 15%;
    margin: 15px auto;
    /* z-index: 1; */
    border-radius: 10px;
    padding: 3px 4px;
    opacity: 0.8;
    background-color:rgba(33, 131, 136, 0.51);
    font-family: 'Bree Serif', serif;
}
.btn:hover{

    background-color: rgb(8, 55, 66);
    color: white;
    z-index: 2;
}
.center{
    text-align: center;
}
.h1-primary{
    font-size: 1.8rem;
    padding: 10px;
    font-family: 'Bree Serif', serif;
    color:rgb(8, 55, 66) ;
}


